{% extends '@App/base.html.twig' %}
{% form_theme form '@App/donate/fields.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker();
        });
    </script>
{% endblock javascripts %}
    {% block body %}
        {{ parent() }}

        <section class="form--steps">
            <div class="form--steps-instructions">
                <div class="form--steps-container">
                    <h3>Ważne!</h3>
                    <p data-step="1" class="active">
                        Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                        wiedzieć komu najlepiej je przekazać.
                    </p>
                    <p data-step="2">
                        Uzupełnij informacje dotyczące liczby worków, które chcesz przekazać. Te informacje zostaną
                        przekazane kurierowi.
                    </p>
                    <p data-step="3">
                        Wybierz jedną z organizacji które wspieramy, do
                        której trafi Twoja przesyłka.
                    </p>
                    <p data-step="4">Podaj adres oraz termin odbioru rzeczy.</p>
                </div>
            </div>

            <div class="form--steps-container">
                <div class="form--steps-counter">Krok <span>1</span>/4</div>

                {{ form_start(form) }}
                <!-- STEP 1 -->
                <div data-step="1" class="active">
                    <h3 id="step1">Zaznacz co chcesz oddać:</h3>
                    {% for oneCategory in form.categories %}
                        <p class="one_category" style="font-size:200%">{{ form_label(oneCategory) }}</p>
                        {{ form_widget(oneCategory) }}
                    {% endfor %}
                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn next-step" data-buttonNumber="1">Dalej</button>
                    </div>
                </div>
                <!-- STEP 2 -->
                <div data-step="2">
                    <h3 id="step2">Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

                    <p style="font-size:200%">{{ form_label(form.quantity, "Ilość worków:") }}</h1>
                        {{ form_widget(form.quantity) }}
                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="button" class="btn next-step" data-buttonNumber="2">Dalej</button>
                    </div>
                </div>
                <!-- STEP 3 -->
                <div data-step="3">
                    <h3 id="step3">Wybierz organizacje, której chcesz pomóc:</h3>
                    {% for oneInstitution in form.institution %}
                        <p style="font-size:200%">{{ form_label(oneInstitution) }}</p>
                        {{ form_widget(oneInstitution) }}
                    {% endfor %}
                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="button" class="btn next-step" data-buttonNumber="3">Dalej</button>
                    </div>
                </div>
                <!-- STEP 4 -->
                <div data-step="4">
                    <h3 id="step4">Podaj adres oraz termin odbioru rzeczy przez kuriera:</h3>
                    <p style="font-size:200%">{{ form_label(form.pickUpDate, "Wybierz datę") }}</p>
                    {{ form_widget(form.pickUpDate) }}

                    <p style="font-size:200%">{{ form_label(form.pickUpTime, "Wybierz godzinę") }}</p>
                    {{ form_widget(form.pickUpTime) }}


                    <p style="font-size:200%"> {{ form_label(form.street, "Ulica") }}</p>
                    {{ form_widget(form.street) }}


                    <p style="font-size:200%">{{ form_label(form.city, "Miejscowość") }}</p>
                    {{ form_widget(form.city) }}

                    <p style="font-size:200%">{{ form_label(form.zipCode, "Kod pocztowy") }}</p>
                    {{ form_widget(form.zipCode) }}

                    <p style="font-size:200%">{{ form_label(form.pickUpComment, "Komentarz dla kuriera") }}</p>
                    {{ form_widget(form.pickUpComment) }}

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="button" class="btn next-step" id="goToSummary"
                                data-buttonNumber="4">Dalej</button>
                    </div>
                </div>
                <div data-step="5">
                    <h3>Podsumowanie Twojej darowizny</h3>
                    <div class="summary">
                        <div class="form-section">
                            <h4>Oddajesz:</h4>
                            <ul>
                                <li class="summary--text">
                                    <span class="icon icon-bag" id="numberOfBags2"></span>
                                    <span class="summary--text"></span>
                                </li>
                                <li>
                                    <span class="icon icon-hand" id="organisation"></span>
                                    <span class="summary--text"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="form-section form-section--columns">
                            <div class="form-section--column">
                                <h4>Adres odbioru darowizny:</h4>
                                <ul id="addressSummary" style="margin-left:10px">
                                    <li>Ulica:&nbsp;<b><span id="street"></span></b></li>
                                    <li>Miejscowość:&nbsp;<b><span id="city"></span></b></li>
                                    <li>Kod pocztowy:&nbsp;<b><span id="zipCode"></span></b></li>
                                </ul>
                            </div>
                        </div>
                        <div class=" form-section form-section--columns">
                            <div class="form-section--column">
                                <h4 id="addressSummary" style="list-style-type: square">Termin odbioru:</h4>
                                <ul style="margin-left:10px">
                                    <li>Data:&nbsp;<b><span id="pickUpDate"></span></b></li>
                                    <li>Komentarz dla kuriera:&nbsp;<b><span id="pickUpComment"></span></b></li>
                                </ul>
                            </div>
                        </div>
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <input type="submit" class="btn" value="Potwierdzam"/>
                    </div>
                    {{ form_end(form) }}
        </section>

        <footer>
            <div class="contact">
                <h2>Skontaktuj się z nami</h2>
                <h3>Formularz kontaktowy</h3>
                <form class="form--contact">
                    <div class="form-group form-group--50">
                        <input type="text" name="name" placeholder="Imię"/>
                    </div>
                    <div class="form-group form-group--50">
                        <input type="text" name="surname" placeholder="Nazwisko"/>
                    </div>

                    <div class="form-group">
            <textarea
                    name="message"
                    placeholder="Wiadomość"
                    rows="1"
            ></textarea>
                    </div>

                    <button class="btn" type="submit">Wyślij</button>
                </form>
            </div>
            <div class="bottom-line">
                <span class="bottom-line--copy">Copyright &copy; 2018</span>
                <div class="bottom-line--icons">
                    <a href="#" class="btn btn--small"
                    ><img src="images/icon-facebook.svg"
                        /></a>
                    <a href="#" class="btn btn--small"
                    ><img src="images/icon-instagram.svg"
                        /></a>
                </div>
            </div>
        </footer>

        <script src="js/app.js"></script>
        </body>
    {% endblock %}